{% extends "base.html" %}

{% block body %}

    <h2>Лента RSS</h2>

    <table class="table w-auto small">
        <thead>
        <tr>
            <th scope="col">poster</th>
            <th scope="col">title</th>
            <th scope="col">original_title</th>
            <th scope="col">year</th>
            <th scope="col">date_added</th>
            <th scope="col">I_R</th>
            <th scope="col">K_R</th>
            <th scope="col">genres</th>
            <th scope="col">countries</th>
            <th scope="col">director</th>
            <th scope="col">actors</th>
            <th scope="col">plot</th>
            <th scope="col">translate</th>
            {% comment %}<th scope="col"></th>{% endcomment %}
            <th scope="col" style="width:150px">BTN</th>
        </tr>
        </thead>
        <tbody>

        {% for f in movies %}
            <tr>
                <td><img src="{{ f.poster }}" class="img-thumbnail"></td>
                <td>{{ f.title }}</td>
                <td>{{ f.original_title }}</td>
                <td>{{ f.year }}</td>
                <td>{{ f.date_added }}</td>
                <td>{{ f.imdb_rating }}</td>
                <td>{{ f.kinopoisk_rating }}</td>
                <td>{{ f.genres }}</td>
                <td>{{ f.countries }}</td>
                <td>{{ f.director }}</td>
                <td>{{ f.actors|truncatechars:30 }}</td>
                <td>{{ f.plot|truncatechars:30 }}</td>
                <td>{{ f.translate }}</td>
                {% comment %}<td><a href="{{ f.search_link }}">Search</a></td>{% endcomment %}
                <td style="width:150px">
                    <button style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" type="button" class="btn btn-primary btn-sm">Скачаю</button>
                    <button style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" type="button" class="btn btn-primary btn-sm">Посмотреть</button>
                    <button style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" type="button" class="btn btn-danger btn-sm">Убрать</button>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}