{% extends 'base.html' %}
{% block title %}Edit Preferensies{% endblock %}
{% load crispy_forms_tags %}


{% block body %}
    <div class="row my-4">

        <div class="row offset-md-3 p-0">
            <h3>Normal prority</h3>
            <hr>
            <form method="post">
                {% csrf_token %}
                {% crispy form form.helper %}
            </form>
        </div>

        <div class="row offset-md-3 p-0">
            <h3>Low prority</h3>
            <hr>
            <form method="post">
                {% csrf_token %}

                {% crispy form_low %}
            </form>
        </div>

    </div>
{% endblock %}