{% extends 'base.html' %}
{% block title %}Edit Preferensies{% endblock %}
{% load crispy_forms_tags %}


{% block body %}
    <div class="row my-4">

        <div class="col-6 offset-3">

            <div class="row p-0">
                <form method="post">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>

            {% comment %}
                        deprecated
                         <div class="row p-0">
                            <h3>Low prority</h3>
                            <h6>В оставшемся списке помечается как "низкий приоритет" содержащее указанные страны/жанры, или менее года/рейтинга </h6>
                            <hr>
                            <form method="post">
                                {% csrf_token %}
                            </form>
                        </div>
            {% endcomment %}

            <div class="row p-0">
                <h3>Clear RSS database</h3>
                <hr>
                <div class="col-1">
                    <button type="submit" class="btn btn-danger btn-lg" name="reset"
                            hx-post="{% url 'kinozal:reset_rss' %}"
                            hx-confirm="This destroy all scanned movies!"
                    ><i class="fa fa-check"></i>RESET
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("htmx:confirm", function (e) {
            e.preventDefault()
            Swal.fire({
                title: "Proceed?",
                text: `${e.detail.question}`,
                showCancelButton: true,
            }).then(function (result) {
                if (result.isConfirmed) e.detail.issueRequest(true) // use true to skip window.confirm
            })
        })
    </script>

{% endblock %}

