*.pyc
.pycache__/
.git/
.github/
.env
.idea
.venv
.gitignore
.dockerignore
Dockerfile
current_csv/
static/
fixtures/
old/
sample_detail_pages/
remote_QNAP/
README.md
Makefile
tst.py
tst.torrent
uv.lock
db.sqlite3
logs/*.log
media/cached_images/
one_time_scripts/
