[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
requests = "*"
beautifulsoup4 = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
plexapi = "*"
django-compressor = "*"
django-libsass = "*"
pyyaml = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg = "*"
gunicorn = "*"
django-htmx = "*"
django-widget-tweaks = "*"

[dev-packages]
doppler-env = "*"
django-browser-reload = "*"
django-debug-toolbar = "*"
django-silk = "*"
ruff = "*"
ruff-lsp = "*"

[requires]
python_version = "3.11"
