<table class="table w-auto table-sm">

    <!-- Этот код помещает переменную found_total во внешний HTML - rss.html,-->
    <!-- в бейдж 'Filtered elements' -->
    <span _="on load put '{{ found_total }}' into #filtered_count" hidden>
    Click Me
    </span>


    <thead>
    <tr>
        <th scope="col" style="width: 150px">poster</th>
        <th scope="col" class="col-2">title</th>
        <th scope="col" class="col-1">Some sata</th>
        <th scope="col" class="col-3">common</th>
        <th scope="col">plot</th>
        <th scope="col" class="col-1">translate</th>
        <th scope="col" style="width:80px">BTN</th>
    </tr>
    </thead>

    <tbody id="loop">

    {% for f in movies %}
        <tr {% if f.kinorium_partial_match %} class="htmx-scroll table-warning" {% else %}  class="htmx-scroll" {% endif %}>
            <td>
                <img
                        src="{{ f.poster }}"
                        class="imgdiv img-thumbnail"
                        data-bs-toggle="tooltip"
                        data-bs-html="true"
                        data-bs-title="<img src='{{ f.poster }}' />"
                >
            </td>
            <td>
                <h5><strong>{{ f.title }}</strong></h5>
                <hr>
                <h6>{{ f.original_title }}</h6>
            </td>
            <td>
                Year: <strong>{{ f.year }}</strong>
                <hr>
                IMDB: <strong>{{ f.imdb_rating|default_if_none:"-" }}</strong>
                <hr>
                KP: <strong>{{ f.kinopoisk_rating|default_if_none:"-" }}</strong>
                <hr>
                Scan: <strong>{{ f.date_added|date:'d.m.y' }}</strong>
            </td>

            <td>
                <strong>Genres</strong>
                {% for g in f.genres_as_list %}
                    <span class="badge text-bg-light">{{ g }}</span>
                {% endfor %}
                <hr>
                <strong>Countries</strong>
                {% for c in f.countries_as_list %}
                    <span class="badge text-bg-light">{{ c }}</span>
                {% endfor %}
                <hr>
                <strong>Director</strong>
                {% for d in f.director_as_list %}
                    <span class="badge text-bg-light">{{ d }}</span>
                {% endfor %}
                <hr>
                <strong>Actors</strong>
                {% for a in f.actors_as_list %}
                    {% if forloop.counter < 7 %}
                        <span class="badge text-bg-light">{{ a }}</span>
                    {% endif %}
                {% endfor %}
            </td>
            <td style="font-size: small">{{ f.plot|truncatechars:700 }}</td>
            <td style="width:5%; font-size: small">{{ f.translate }}</td>
            <td>
                {% comment %}<div class="btn-group" role="group" aria-label="Basic mixed styles example">{% endcomment %}
                <div class="d-grid gap-1 col-1 ">
                    <button class="btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" title="Just open search"
                            _="on click go to url {{ f.search_link }} in new window"
                    >Open
                    </button>

                    <button type="button" class="btn btn-success btn-sm"
                            data-bs-toggle="tooltip" title="Open search and add to ignore"
                            hx-delete="{% url 'ignore' f.pk %}"
                            hx-target="closest tr"
                            hx-swap="delete swap:0.7s"
                            _="on click go to url {{ f.search_link }} in new window"
                    >Download
                    </button>

                    <button type="button" class="btn btn-primary btn-sm"
                            data-bs-toggle="tooltip" title="Add to ignore table"
                            hx-post="{% url 'defer' f.pk %}"
                            hx-target="closest tr"
                            hx-swap="delete swap:0.7s"
                            onclick="manualUpdate()"
                    >Defer
                    </button>

                    <button type="button" class="btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" title="Add to ignore table"
                            hx-delete="{% url 'ignore' f.pk %}"
                            hx-target="closest tr"
                            hx-swap="delete swap:0.6s"
                            onclick="manualUpdate()"
                    >Decline
                    </button>

                    <script>
                        function manualUpdate() {
                            // Use hx-sync to manually trigger an update
                            htmx.trigger('#triggerElement', 'hx-sync');
                            console.log('MANUAL UPDATE')
                        }
                    </script>
                
                    {% comment %}                    <script>
                                        document.body.addEventListener('htmx:afterOnLoad', function (evt) {
                                          // only allow requests to the current server as well as myserver.com
                                          // if (!evt.detail.sameHost && evt.detail.url.hostname !== "myserver.com") {
                                          // evt.preventDefault();
                                          // }
                                            console.log('EVENT!')
                                        });
                                        </script>{% endcomment %}
                
                
                
                    <div class="d-flex flex-row mt-2">
                        {% with url='https://ru.kinorium.com/search/?q='|add:f.title|add:' '|add:f.original_title|add:' '|add:f.year %}
                            <span class="badge text-bg-info" style="cursor: pointer" _="on click go to url '{{ url|iriencode }}' in new window">KR</span>
                        {% endwith %}

                        {% with url='https://www.imdb.com/title/'|add:f.imdb_id %}
                            <span class="badge text-bg-primary mx-1" style="cursor: pointer" _="on click go to url '{{ url|iriencode }}' in new window">IMDB</span>
                        {% endwith %}

                        {% if f.kinopoisk_id %}
                        {% comment %}{% with url='https://www.kinopoisk.ru/film/'|add:f.kinopoisk_id %}{% endcomment %}
                        {% with id=f.kinopoisk_id|stringformat:'s' %}
                            {% with url='https://www.kinopoisk.ru/film/'|add:id %}
                                <span class="badge text-bg-warning" style="cursor: pointer" _="on click go to url '{{ url|iriencode }}' in new window">KP</span>
                            {% endwith %}
                        {% endwith %}
                        {% endif %}
                    </div>

                    </div>

                </div>

                {% if movies.has_next and forloop.last %}
                    <span id='triggerElement' hx-get="{% url 'get_rss_table_data' %}?page={{ movies.next_page_number }}"
                          hx-swap="beforeend" hx-target="#loop" hx-select=".htmx-scroll"
                          hx-trigger="revealed">
                        </span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>


