{% if found_total %}
    <div id="popup" class="copied-popup">Copied!</div>
    <table class="table w-auto table-sm">

        <!-- Этот код помещает переменную found_total, которая передается в этот темплей,
        во внешний темплейт - rss.html, в бейдж 'Filtered elements' -->
        <span _="on load put '{{ found_total }}' into #filtered_count" hidden></span>

        <thead>
        <tr>
            <th scope="col" style="width: 150px">Poster</th>
            <th scope="col" class="col-2">Title</th>
            <th scope="col" class="col-1">Some data</th>
            <th scope="col" class="col-3">Common</th>
            <th scope="col">Plot</th>
            <th scope="col" class="col-1">Translate</th>
            <th scope="col" style="width:80px">BTN</th>
        </tr>
        </thead>

        <tbody id="loop">

        {% for f in movies %}

            <tr data-movie-id="{{ f.id }}" {% if f.kinorium_partial_match %}
                class="htmx-scroll table-warning" {% else %}  class="htmx-scroll" {% endif %}>
                <td>
                    <img src="{{ f.poster_url }}" class="imgdiv" alt="Poster of {{ f.title }}">
                </td>
                <td>
                    <h5>
                        <strong>{{ f.title }}</strong>
                        <i class="bi bi-copy copy-btn" data-text="{{ f.title }}"></i>
                    </h5>
                    <hr>
                    <h6>
                        {{ f.original_title }}
                        <i class="bi bi-copy copy-btn" data-text="{{ f.original_title }}"></i>
                    </h6>
                </td>
                <td>
                    Year: <strong>{{ f.year }}</strong>
                    <hr>
                    IMDB: <strong>{{ f.imdb_rating|default_if_none:"-" }}</strong>
                    <hr>
                    KP: <strong>{{ f.kinopoisk_rating|default_if_none:"-" }}</strong>
                    <hr>
                    Scan: <strong>{{ f.date_added|date:'d.m.y' }}</strong>
                </td>

                <td>
                    <strong class="common-header">Genres</strong>
                    {% for g in f.genres_as_list %}
                        <span class="badge text-bg-light">{{ g }}</span>
                    {% endfor %}
                    <hr>
                    <strong class="common-header">Countries</strong>
                    {% for c in f.countries_as_list %}
                        <span class="badge text-bg-light">{{ c }}</span>
                    {% endfor %}
                    <hr>
                    <strong class="common-header">Director</strong>
                    {% for d in f.director_as_list %}
                        <span class="badge text-bg-light">{{ d }}</span>
                    {% endfor %}
                    <hr>
                    <strong class="common-header">Actors</strong>
                    {% for a in f.actors_as_list %}
                        {% if forloop.counter < 7 %}
                            <span class="badge text-bg-light">{{ a }}</span>
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="border" style="font-size: small">{{ f.plot|truncatechars:700 }}</td>
                <td style="width:5%; font-size: small">{{ f.translate }}</td>
                <td>
                    {% comment %}<div class="btn-group" role="group" aria-label="Basic mixed styles example">{% endcomment %}
                    <div class="d-grid gap-1 col-1 ">
                        <button class="btn btn-warning btn-sm"
                                data-bs-toggle="tooltip" title="Just open search"
                                _="on click go to url {{ f.search_link }} in new window"
                        >Open
                        </button>

                        <button type="button" class="btn btn-success btn-sm"
                                data-bs-toggle="tooltip" title="Open kinozal modal"
                                hx-get="{% url 'kinozal_download' f.id %}"
                                hx-target="#kinozal-results"
                                hx-swap="innerHTML"
                        >Download
                            <span id="open-spinner-{{ f.pk }}" class="htmx-indicator spinner-border spinner-border-sm"
                                  role="status"></span>
                        </button>

                        <button type="button" class="btn btn-primary btn-sm do-hide"
                                data-bs-toggle="tooltip" title="Add to defer table"
                                hx-post="{% url 'defer' f.pk %}"
                                hx-target="closest tr"
                                hx-swap="delete swap:0.7s"
                                {% comment %}onclick="triggerPotentialUpdate()"{% endcomment %}
                        >Defer
                            <span id="defer-spinner-{{ f.pk }}" class="htmx-indicator spinner-border spinner-border-sm"
                                  role="status"></span>
                        </button>

                        <button type="button" class="btn btn-outline-primary btn-sm do-hide"
                                data-bs-toggle="tooltip" title="Жду дубляж"
                                hx-post="{% url 'wait_trains' f.pk %}"
                                hx-target="closest tr"
                                hx-swap="delete swap:0.7s"
                                {% comment %}onclick="triggerPotentialUpdate()"{% endcomment %}
                        >Жду дубляж
                            <span id="wait-spinner-{{ f.pk }}" class="htmx-indicator spinner-border spinner-border-sm"
                                  role="status"></span>
                        </button>

                        <button type="button" class="btn btn-danger btn-sm do-hide"
                                data-bs-toggle="tooltip" title="Add to ignore table"
                                hx-post="{% url 'ignore' f.pk %}"
                                hx-target="closest tr"
                                hx-swap="delete swap:0.6s"
                                {% comment %}onclick="triggerPotentialUpdate()"{% endcomment %}
                        >Hide
                            <span id="hide-spinner-{{ f.pk }}" class="htmx-indicator spinner-border spinner-border-sm"
                                  role="status"></span>
                        </button>


                        <div class="d-flex flex-row mb-2">

                            <span class="badge text-bg-info" style="cursor: pointer"
                                  _="on click fetch '{% url 'kinorium_search' f.pk %}' then
                                        log result then
                                        go to url `${result}` in new window">
                        KR
                        </span>


                            {% if f.imdb_id %}
                                {% with url='https://www.imdb.com/title/'|add:f.imdb_id %}
                                    <span class="badge text-bg-primary mx-1" style="cursor: pointer"
                                          _="on click go to url {{ url|iriencode }} in new window">
                                    IMDB</span>
                                {% endwith %}
                            {% else %}
                                <span class="badge text-bg-light">IMDB</span>
                            {% endif %}

                            {% if f.kinopoisk_id %}
                                {% with id=f.kinopoisk_id|stringformat:'s' %}
                                    {% with url='https://www.kinopoisk.ru/film/'|add:id %}
                                        <span class="badge text-bg-warning" style="cursor: pointer"
                                              _="on click go to url {{ url|iriencode }} in new window">
                                        KP</span>
                                    {% endwith %}
                                {% endwith %}
                            {% else %}
                                <span class="badge text-bg-light">KP</span>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>


    </table>

    <!-- Сторожевой элемент после таблицы для отслеживания "нижнего" элемента -->
    <div id="sentinel"
         hx-get="{% url 'get_rss_table_data' %}"
         hx-trigger="intersect"
         hx-swap="beforeend"
         hx-target="#loop"
         hx-select=".htmx-scroll"
         hx-include="[name='priority'], [name='reverse'], [name='textfilter']"
         hx-vals='js:{displayed_ids: getVisibleMovieIds().join(",")}'
    >
        <div class="htmx-indicator">
            <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>


{% else %}

    NO RESULT

{% endif %}



{% block js %}
    <script>



        // Флаг для отслеживания загрузки
        let isLoading = false;


       // Получение ID видимых фильмов
        function getVisibleMovieIds() {
            console.log('Run getVisibleMovieIds...')
            let answer = Array.from(document.querySelectorAll('#loop tr'))
                .map(row => row.getAttribute('data-movie-id'))
                .filter(id => id);
            console.log('-->Movies on page:', answer)
            return answer
        }

        document.body.addEventListener('click', function (event) {
            const element = event.target;

            // Обработчик для кнопок "copy to clipboard"
            // Делегируем события клика для всех элементов с классом copy-btn
            if (element.classList.contains('copy-btn')) {
                const text = element.getAttribute('data-text');

                if (navigator.clipboard && navigator.clipboard.writeText) {
                    // Копируем текст с использованием Clipboard API
                    navigator.clipboard.writeText(text)
                        .then(() => {
                            console.log('Text copied to clipboard with Clipboard API:', text);
                            showPopup(element);
                        })
                        .catch(error => {
                            console.error('Error copying text with Clipboard API:', error);
                        });
                } else {
                    console.warn('navigator.clipboard.writeText is not supported or accessible.');
                    // Альтернативный метод копирования текста
                    const textarea = document.createElement('textarea');
                    textarea.value = text;
                    document.body.appendChild(textarea);
                    textarea.select();
                    try {
                        document.execCommand('copy');
                        console.log('Text copied to clipboard (alternate):', text);
                        showPopup(element);
                    } catch (error) {
                        console.error('Error copying text (alternate):', error);
                    }
                    document.body.removeChild(textarea);
                }
            }

            // Аниимация удаления строки, тут только добавляется анимация
            if (element.closest('button')?.classList.contains('do-hide')) {
                // Не нужно вручную удалять строку, так как HTMX сам это сделает
                const row = element.closest('tr');
                row.classList.add('fade-out');
            }

        });

        // popup "Copied!" (для copy to clipboard)
        function showPopup(element) {
            const popup = document.getElementById('popup');
            const rect = element.getBoundingClientRect();

            // Позиционируем popup
            popup.style.top = (rect.top + window.scrollY - 30) + 'px';
            popup.style.left = (rect.left + window.scrollX + (rect.width / 2)) + 'px';
            popup.style.transform = 'translateX(-50%)';

            // Показываем и скрываем
            popup.classList.add('show');
            setTimeout(() => {
                popup.classList.remove('show');
            }, 1000);
        }

    </script>
{% endblock %}



<style>
    .copied-popup {
        position: absolute;
        top: -30px; /* Подстройте под ваши нужды */
        left: 50%;
        transform: translateX(-50%);
        background: #ffffff;
        color: #333;
        border: 1px solid #555;
        padding: 4px 6px;
        border-radius: 3px;
        font-size: 12px;
        opacity: 0;
        transition: opacity 0.2s;
        pointer-events: none; /* Чтобы не мешало кликам */
        z-index: 1000;
    }

    .copied-popup.show {
        opacity: 1;
    }

    #sentinel {
        height: 1px;
        margin: 0;
        opacity: 0;
    }

    #loop {
            min-height: 100px;
        }

    .fade-out {
            opacity: 0;
            transition: opacity 0.5s ease-out;
    }

    .copy-btn {
        cursor: pointer;
        color: gray;
        font-size: 0.5em;
    }
</style>
{% block css %}
{% endblock %}
