<table class="table w-auto table-sm">

    <!-- Этот код помещает переменную found_total во внешний HTML - rss.html,--> 
    <!-- в бейдж 'Filtered elements1' --> 
    <span _="on load put '{{ found_total }}' into #filtered_count" hidden>
    Click Me
    </span>


    <thead>
    <tr>
        <th scope="col" style="width: 150px">poster</th>
        <th scope="col" class="col-2">title</th>
        <th scope="col" class="col-1">Some sata</th>
        <th scope="col" class="col-3">common</th>
        <th scope="col">plot</th>
        <th scope="col" class="col-1">translate</th>
        <th scope="col" style="width:80px">BTN</th>
    </tr>
    </thead>

    <tbody id="loop">

    {% for f in movies %}
        <tr class="htmx-scroll" {% if f.kinorium_partial_match %} class="htmx-scroll table-danger" {% endif %}>
            <td>
                <img
                        src="{{ f.poster }}"
                        class="imgdiv img-thumbnail"
                        data-bs-toggle="tooltip"
                        data-bs-html="true"
                        data-bs-title="<img src='{{ f.poster }}' />"
                >
            </td>
            <td>
                <h5><strong>{{ f.title }}</strong></h5>
                <hr>
                <h6>{{ f.original_title }}</h6>
                prio = <strong>{{ f.priority }}</strong>
            </td>
            <td>
                <strong>Year:</strong> {{ f.year }}
                <hr>
                <strong>IMDB:</strong> {{ f.imdb_rating }}
                <hr>
                <strong>KP:</strong> {{ f.kinopoisk_rating }}
                <hr>
                <strong>Scan:</strong> {{ f.date_added|date:'d.m.y' }}
            </td>
            <td>
                <strong>Genres</strong>
                {% for g in f.genres_as_list %}
                    <span class="badge text-bg-light">{{ g }}</span>
                {% endfor %}
                <hr>
                <strong>Countries</strong>
                {% for c in f.countries_as_list %}
                    <span class="badge text-bg-light">{{ c }}</span>
                {% endfor %}
                <hr>
                <strong>Director</strong>
                {% for d in f.director_as_list %}
                    <span class="badge text-bg-light">{{ d }}</span>
                {% endfor %}
                <hr>
                <strong>Actors</strong>
                {% for a in f.actors_as_list %}
                    {% if forloop.counter < 7 %}
                        <span class="badge text-bg-light">{{ a }}</span>
                    {% endif %}
                {% endfor %}
            </td>
            <td style="font-size: small">{{ f.plot|truncatechars:500 }}</td>
            <td style="width:5%; font-size: small">{{ f.translate }}</td>
            <td>
                {% comment %}<div class="btn-group" role="group" aria-label="Basic mixed styles example">{% endcomment %}
                <div class="d-grid gap-1 col-1 ">
                    <button href="{{ f.search_link }}" target="_blank"
                            class="btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" title="Just open search"
                            _="on click go to url {{ f.search_link }} in new window"
                    >Open
                    </button>

                    <button type="button" class="btn btn-success btn-sm"
                            data-bs-toggle="tooltip" title="Open search and add to ignore"
                            hx-delete="{% url 'ignore' f.pk %}"
                            hx-target="closest tr"
                            hx-swap="delete swap:0.6s"
                            _="on click go to url {{ f.search_link }} in new window"
                    >Download
                    </button>

                    <button type="button" class="btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" title="Add to ignore table"
                            hx-delete="{% url 'ignore' f.pk %}"
                            hx-target="closest tr"
                            hx-swap="delete swap:0.6s"
                    >Decline
                    </button>

                    <button type="button" class="btn btn-primary btn-sm"
                            data-bs-toggle="tooltip" title="Add to ignore table"
                            hx-post="{% url 'defer' f.pk %}"
                            hx-target="closest tr"
                            hx-swap="delete swap:0.6s"
                    >DEFER
                    </button>
                    
                </div>

                {% if movies.has_next and forloop.last %}
                    <span hx-get="{% url 'get_rss_table_data' %}?page={{ movies.next_page_number }}"
                          hx-swap="beforeend" hx-target="#loop" hx-select=".htmx-scroll"
                          hx-trigger="revealed">
                        </span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>


