{# Bootstrap CSS template#}

{% load i18n %}
{% load static %}
{#{% load admin_urls %}#}
{% load compress %}


<!DOCTYPE html >
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <!-- Popper [before bootstrap]-->
    <script src="https://unpkg.com/@popperjs/core@2"></script>

    <!-- BOOTSTRAP -->
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %} ">
    <script defer src="{% static 'bootstrap/bootstrap-theme-toggler.js' %}"></script>

    {% comment %}    <!-- ALPINE JS -->
    <script defer src="{% static 'alpine/alpine.min.js' %}"></script>{% endcomment %}

    <!-- HTMX -->
    <script src="{% static 'htmx/htmx.min.js' %}"></script>

    <!-- Hyperscript -->
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.min.css' %} ">

    <!-- Sweet alert 2 -->
    <link rel="stylesheet" href="{% static 'sweetalert2/bootstrap-4.min.css' %}">
    <script src="{% static 'sweetalert2/sweetalert2.js' %}"></script>

    <!-- hint.ccs (tooltips) -->
    <link href="{% static 'hint.css-2.7.0/hint.base.min.css' %}" rel="stylesheet">

    {% comment %}    {% compress css %}
        <link type="text/x-scss" href="{% static 'style.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}{% endcomment %}

    <script src="{% static 'toasts.js' %}"></script>

    {% comment %}    <!-- jQuery, for depends: Select2 -->
    <script src="{% static 'jslib/jquery-3.7.1.js' %}"></script>{% endcomment %}

    {% comment %}    <!-- Select2 -->
    <link href="{% static 'select2/select2.min.css' %}" rel="stylesheet" />
    <script src="{% static 'select2/select2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'select2/select2-bootstrap-5-theme.min.css' %}" />{% endcomment %}

    <title>{% block title %}KinoRSS{% endblock %}</title>
    {% block css %}{% endblock %}




</head>

{% comment %}
    DEPRECATED - Заменено на js скрипт, потому что этот старый метод не пригоден для ОБНОВЛЯЮЩИХСЯ частей страницы,
    в них нужно динамически обновлять токен. Например, в подгружающихся частях основного списка фильмов.
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

{% endcomment %}

<body>

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

{% if is_dev %}
{#<div class="alert center-aligned alert-success" role="alert">#}
<div class="alert center-aligned alert-success sticky-top py-2 " style="z-index: 1050;" role="alert">
    <strong>DEVELOPER ENVIRONMENT</strong>
</div>
{% endif %}

{% include "header.html" %}
{% block body %}  {% endblock %}


{% block scripts %}
    {% comment %}   <!-- My toast injecting -->
    <script src="{% static 'js/toasts.js' %}" defer></script>{% endcomment %}



{#отказался от bootstrap tooltips#}
{% comment %}    <script>
        // Initialize bootstrap tooltips (need load popper.js)
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>{% endcomment %}
{% endblock %}


{% comment %}
<div x-data="{ open: false }">
    <button class="btn btn-success" type="button" @click="open = ! open">Alpine JS Demo -> Expand</button>

    <div x-show="open">
        Content...
    </div>
</div>{% endcomment %}

{% block js %}{% endblock %}

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
       // Пытаемся получить CSRF токен либо из скрытого поля формы, либо из cookie
       const token = document.querySelector('[name=csrfmiddlewaretoken]')?.value ||
                     (document.cookie.match(/csrftoken=([^;]+)/) || [])[1];

       if (token) {
           event.detail.headers['X-CSRFToken'] = token;
       }
   });
</script>

</body>

</html>
