{% for movie in movies %}

    <div
            id="search-results"
            class="list-group-item list-group-item-action py-2 cursor-pointer"
            hx-get="{% url 'vault:movie' movie_id=movie.id %}"
            hx-target="#main-content"
            hx-on:afterRequest="document.getElementById('search-results')?.remove()"
    >
        {{ movie.name }} <code>{{ movie.release_date.year }}</code> <em class="text-body-tertiary"> {{ movie.original_title }}</em>
    </div>

{% empty %}
    <div class="list-group-item py-2 text-muted">
        Ничего не найдено
    </div>
{% endfor %}
