{% extends 'base.html' %}

{% block body %}

    <style>
        .htmx-indicator {
            display: none
        }

        .htmx-request .htmx-indicator {
            display: inline-block;
        }

        .htmx-request.htmx-indicator {
            display: inline-block;
        }
    </style>

    <h2>Фильмы из кинозала - результат скана (без внесения в базу)</h2>

    {#    <a href="{% url 'moviefilter:scan' %}" class="btn btn-primary btn-lg" role="button">SCAN</a>#}

    {% comment %}    <form action="{% url 'moviefilter:scan' %}" method="post" id="myForm">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg" name="reset"><i class="fa fa-check"></i>SCAN
        </button>
    Last scan: <span class="badge text-bg-success">{{ last_scan }}</span>
    </form>{% endcomment %}

    <button class='btn btn-primary'
            hx-get="{% url 'moviefilter:scan' %}"
            hx-target="#film-list"
            hx-swap="innerHTML">
        <span id="save-icon" class="bi-database"></span> SCAN
        <span id="spinner" class="htmx-indicator spinner-border spinner-border-sm" role="status"></span>
    </button>

    <div id="film-list">
    {% comment %}{% include 'partials/scan-table.html' %}{% endcomment %}
    </div>

{% endblock %}