{% extends "base.html" %}

{% block body %}


    <div class="container">
        <div class="d-inline-block p-2 "><h1 class="p-3"><span class="badge bg-secondary">Kinorium</span></h1></div>
        <div class="d-inline-block p-2 ">
            <div class="p-2">Total: <span class="badge text-bg-success">{{ movies|length }}</span></div>
        </div>

        {% if error %}
            <h1 style="color: red">
                {{ error }}
            </h1><br>
        {% endif %}

        <form>
            <div class="form-group row">
                <label for="inputEmail3" class="col-1 col-form-label pb-3"><strong>Filter</strong></label>
                <div class="col-2">
                    <input type="text" name="filter" class="form-control" placeholder="filter"
                           hx-trigger="keyup changed delay:0.4s"
                           hx-get="{% url 'moviefilter:kinorium' %}"
                           hx-target="#kinorium-table"
                           hx-swap="innerHTML"
                    >
                </div>
            </div>
        </form>

        <div id="kinorium-table">
            {% include 'partials/kinorium-table.html' %}
        </div>

    </div>
{% endblock %}