{% extends "base.html" %}

{% block body %}


    <div class="border my-4 p-3 rounded" style="background: lightgray">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="r-full" value="full" checked
                   hx-get="{% url 'get_log' 'full' %}"
                   hx-trigger="change"
                   hx-target="#log"
                   hx-include="this"
            >
            <label class="form-check-label" for="r-prim"><strong>Full</strong></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="r-short" value="short"
                   hx-get="{% url 'get_log' 'short' %}"
                   hx-trigger="change"
                   hx-target="#log"
                   hx-include="this"
            >
            <label class="form-check-label" for="r-low"><strong>Short</strong></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="r-error" value="error"
                   hx-get="{% url 'get_log' 'error' %}"
                   hx-trigger="change"
                   hx-target="#log"
                   hx-include="this"
            >
            <label class="form-check-label" for="r-low"><strong>Error</strong></label>
        </div>
    </div>


<div id="log" hx-get="{% url 'get_log' 'full' %}" hx-trigger="every 1s">

</div>

    <button hx-trigger="click" onclick="scrollToBottom()">Scroll to Bottom</button>
    
    <script>
        // JavaScript to scroll down to the bottom of the page
        function scrollToBottom() {
            window.scrollTo(0, document.body.scrollHeight);
        }
    
        // Trigger the scrolling when the page loads
        document.addEventListener('htmx:load', function(event) {
            scrollToBottom();
        });
    </script>
    
{% endblock %}