{% extends "base.html" %}
{% load cutfilename %}

{% block body %}

    {% if error %}
    <h1 style="color: red">
        {{ error }}
    </h1><br>
    {% endif %}
<div class="container">
<div class="d-inline-block p-2 "><h1 class="p-3"> <span class="badge bg-secondary">Plex</span></h1></div>
<div class="d-inline-block p-2 "><div class="p-2">Total: <span class="badge text-bg-success">{{ movies|length }}</span></div></div>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">title</th>
            <th scope="col">originalTitle</th>
            <th scope="col">file</th>
            <th scope="col">year</th>
        </tr>
        </thead>
        <tbody>

        {% for f in movies %}
            <tr>
                <td>{{ f.title }}</td>
                <td>{{ f.originalTitle }}</td>
                <td>{{ f.media.0.parts.0.file | cutfilename  }}</td>
                <td>{{ f.year }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

</div>

<style>
    table {
        counter-reset: rowNumber 1;
    }
    table tr:not(:first-child) {
        counter-increment: rowNumber;
    }
    table tr td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
        font-weight: bold;
    }
</style>

{% endblock %}