{% extends 'base.html' %}
{% block title %}Edit Preferensies{% endblock %}
{% load crispy_forms_tags %}


{% block body %}
    <div class="container">

        <div class="col-6 offset-3">

            <div class="row p-0">
                <form method="post">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>


            <div class="row mt-4">
                <h3>Clear RSS database</h3>
                <hr>
                <div>
                    <button type="submit" class="btn btn-danger btn-lg" name="reset"
                            hx-delete="{% url 'moviefilter:reset_rss' %}"
                            hx-swap=none
                            hx-confirm="This destroy all scanned movies!"
                    ><i class="bi bi-trash3-fill"></i> RESET
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Toast template -->
    <div data-toast-container class="toast-container position-fixed top-0 end-0 p-3">
        <div data-toast-template class="toast align-items-center border-0" role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="d-flex">
                <div data-toast-body class="toast-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    </div>
    <!-- end Toast template -->

    <script>
        document.addEventListener("htmx:confirm", function (e) {
            e.preventDefault()
            Swal.fire({
                title: "Proceed?",
                text: `${e.detail.question}`,
                showCancelButton: true,
            }).then(function (result) {
                if (result.isConfirmed) e.detail.issueRequest(true) // use true to skip window.confirm
            })
        })
    </script>

{% endblock %}

