{% extends "base.html" %}
{% load static %}
{% block body %}


    <div class="container-fluid">
        <button class='btn btn-primary'
                hx-get="{% url 'scan' %}"
                hx-target="#rss-table"
                hx-swap="innerHTML">
            <span id="save-icon" class="bi-database"></span> SCAN
            <span id="spinner" class="htmx-indicator spinner-border spinner-border-sm" role="status"></span>
        </button>
        <span class="border rounded p-1 m-1">Last scan: <span
                class="badge text-bg-success">{{ last_scan }}</span></span>
        <span class="border rounded p-1 m-1">Primary: <span
                class="badge text-bg-success">{{ total_high }}</span></span>
        <span class="border rounded p-1 m-1">Low prio: <span
                class="badge text-bg-success">{{ total_low_priority }}</span></span>
        <span class="border rounded p-1 m-1">Total: <span
                class="badge text-bg-success">{{ total_high|add:total_low_priority }}</span></span>



        <div class="border my-4 p-3 rounded" style="background: lightgray">
            <div class="form-check form-check-inline" id="form1">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="r-high" value="HIGH" checked
                       hx-get="{% url 'get_rss_table_data' 0 %}"
                       hx-trigger="change"
                       hx-target="#rss-table"
                       hx-include="this"
                >
                <label class="form-check-label" for="r-prim"><strong>High priority</strong></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="r-low" value="LOW"
                       hx-get="{% url 'get_rss_table_data' 1 %}"
                       hx-trigger="change"
                       hx-target="#rss-table"
                       hx-include="[name='inlineCheckBox']"
                >
                <label class="form-check-label" for="r-low"><strong>Low priority</strong></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineCheckBox" id="r-defer" value="DEFER"
                       hx-get="{% url 'get_rss_table_data' 2 %}"
                       hx-trigger="change"
                       hx-target="#rss-table"
                       hx-include="this"
                >
                <label class="form-check-label" for="r-low"><strong>Defer</strong></label>
            </div>

            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Checked checkbox
                </label>
            </div>

        </div>



        <div id="rss-table" hx-get="{% url 'get_rss_table_data' 0 %}" hx-trigger="load">
        </div>

        <!-- Toast template -->
        <div data-toast-container class="toast-container position-fixed top-0 end-0 p-3">
            <div data-toast-template class="toast align-items-center border-0" role="alert" aria-live="assertive"
                 aria-atomic="true">
                <div class="d-flex">
                    <div data-toast-body class="toast-body"></div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                            aria-label="Close"></button>
                </div>
            </div>
        </div>
        <!-- end Toast template -->

    </div>

{% endblock %}

{% block css %}
    <style>
        .htmx-indicator {
            display: none
        }

        .htmx-request .htmx-indicator {
            display: inline-block;
        }

        .htmx-request.htmx-indicator {
            display: inline-block;
        }

        hr {
        {#margin: 0.6rem;#} margin: 0;
            padding-top: 0.1rem;
            padding-bottom: 0.5rem;
        }

        .fade-me-out.htmx-swapping {
            opacity: 0;
            transition: opacity 0.6s ease-out;
        }

        .imgdiv {
            width: 40vw;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        img.imgdiv {
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }

    </style>
{% endblock %}