{% extends "base.html" %}
{% load static %}
{% block body %}


    <div class="container-fluid">
        <button class='btn btn-primary'
                hx-get="{% url 'scan' %}"
                hx-swap="none">
            <span id="save-icon" class="bi-database"></span> SCAN
            <span id="spinner" class="htmx-indicator spinner-border spinner-border-sm" role="status"></span>
        </button>
        <span class="border rounded p-1 m-1">Last scan: <span
                class="badge text-bg-success">{{ last_scan }}</span></span>

        <span class="border rounded p-1 m-1">Total: <span
                class="badge text-bg-success">{{ total_high|add:total_low|add:total_defer }}</span></span>

        <span class="border rounded p-1 m-1">High: <span
                class="badge text-bg-secondary">{{ total_high }}</span></span>

        <span class="border rounded p-1 m-1">Low: <span
                class="badge text-bg-secondary">{{ total_low }}</span></span>

        <span class="border rounded p-1 m-1">Defer: <span
                class="badge text-bg-secondary">{{ total_defer }}</span></span>

        <span class="border rounded p-1 m-1">Skip: <span
                class="badge text-bg-light">{{ total_skip }}</span></span>




    <div class="border my-4 p-3 rounded" style="background: lightgray">

        <span
                hx-get="{% url 'get_rss_table_data' %}"
                                   hx-trigger="change"
                                   hx-target="#rss-table"
                                   hx-include="[name='priority'], [name='reverse'], [name='textfilter']"
        >

        <div class="form-check form-check-inline" id="form1">
            <input class="form-check-input aaa" type="radio" name="priority" id="r-high" value="HIGH" checked>
            <label class="form-check-label" for="r-high"><strong>High priority</strong></label>
        </div>


        <div class="form-check form-check-inline">
            <input class="form-check-input aaa" type="radio" name="priority" id="r-low" value="LOW">
            <label class="form-check-label" for="r-low"><strong>Low priority</strong></label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input aaa" type="radio" name="priority" id="r-defer" value="DEFER">
            <label class="form-check-label" for="r-defer"><strong>Defer</strong></label>
        </div>


        <div class="form-check-inline">
            <input class="form-check-input aaa" type="checkbox" name="reverse" id="checkbox-reverse">
            <label class="form-check-label" for="checkbox-reverse"><strong>Reverse</strong></label>
        </div>
            

        <div class="form-check-inline">
            <input type="text" class="form-control" name="textfilter"
                   hx-trigger="keyup changed delay:0.4s" hx-get="{% url 'get_rss_table_data' %}">
        </div>

        <div class="form-check-inline">
            <button type="button" class="btn btn-light mb-1" style="cursor: default">
              Filtered elements <span id="filtered_count" class="badge text-bg-secondary"></span>
            </button>
        </div>

        </span>

    </div>


        <div id="rss-table"
             hx-get="{% url 'get_rss_table_data' %}"
             hx-trigger="load"
             hx-include="[name='priority'], [name='reverse'], [name='textfilter']">
        </div>

        <!-- Toast template -->
        <div data-toast-container class="toast-container position-fixed top-0 end-0 p-3">
            <div data-toast-template class="toast align-items-center border-0" role="alert" aria-live="assertive"
                 aria-atomic="true">
                <div class="d-flex">
                    <div data-toast-body class="toast-body"></div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                            aria-label="Close"></button>
                </div>
            </div>
        </div>
        <!-- end Toast template -->

    </div>

{% endblock %}

{% block css %}
    <style>
        .htmx-indicator {
            display: none
        }

        .htmx-request .htmx-indicator {
            display: inline-block;
        }

        .htmx-request.htmx-indicator {
            display: inline-block;
        }

        hr {
        {#margin: 0.6rem;#} margin: 0;
            padding-top: 0.1rem;
            padding-bottom: 0.5rem;
        }

        .fade-me-out.htmx-swapping {
            opacity: 0;
            transition: opacity 0.6s ease-out;
        }

        .imgdiv {
            width: 40vw;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        img.imgdiv {
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }

    </style>
{% endblock %}