{% extends "base.html" %}
{% load static %}
{% block body %}

    <div class="container-fluid">


        <span class="border rounded p-1 m-1">Last scan: <span
                class="badge text-bg-success">{{ last_scan }}</span></span>

        <span class="border rounded p-1 m-1">Total: <span
                class="badge text-bg-success">{{ total_high|add:total_low|add:total_defer }}</span></span>

        <span class="border rounded p-1 m-1">High: <span
                class="badge text-bg-secondary">{{ total_high }}</span></span>

        <span class="border rounded p-1 m-1">Low: <span
                class="badge text-bg-secondary">{{ total_low }}</span></span>

        <span class="border rounded p-1 m-1">Defer: <span
                class="badge text-bg-secondary">{{ total_defer }}</span></span>

        <span class="border rounded p-1 m-1">Skip: <span
                class="badge text-bg-light">{{ total_skip }}</span></span>

        <span class="border rounded p-1 m-1">Wait trans.:
            <span class="badge text-bg-light">{{ total_wait_trans }}</span>
            Found:
            <span class="badge text-bg-success">{{ total_trans_found }}</span>
        </span>


        <div class="border my-4 p-3 rounded" style="background: lightgray">

        <span
                hx-get="{% url 'get_rss_table_data' %}"
                hx-trigger="change"
                hx-target="#rss-table"
                hx-include="[name='priority'], [name='reverse'], [name='textfilter']"
        >

        <div class="form-check form-check-inline" id="form1">
            <input class="form-check-input aaa" type="radio" name="priority" id="r-high" value="HIGH" checked>
            <label class="form-check-label" for="r-high"><strong>High priority</strong></label>
        </div>


        <div class="form-check form-check-inline">
            <input class="form-check-input aaa" type="radio" name="priority" id="r-low" value="LOW">
            <label class="form-check-label" for="r-low"><strong>Low priority</strong></label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input aaa" type="radio" name="priority" id="r-defer" value="DEFER">
            <label class="form-check-label" for="r-defer"><strong>Defer</strong></label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input aaa" type="radio" name="priority" id="r-trans" value="TRANS">
            <label class="form-check-label" for="r-trans"><strong>Trans found</strong></label>
        </div>

        <div class="form-check-inline">
            <input class="form-check-input aaa" type="checkbox" name="reverse" id="checkbox-reverse">
            <label class="form-check-label" for="checkbox-reverse"><strong>Reverse</strong></label>
        </div>
            
        <div class="form-check-inline">
            <input type="search" class="form-control search" name="textfilter"
                   placeholder="Type for search..." autocomplete="off"
                   hx-trigger="keyup changed delay:0.4s" hx-get="{% url 'get_rss_table_data' %}">
        </div>

        <div class="form-check-inline">
            <button type="button" class="btn btn-light mb-1" style="cursor: default">
              Filtered elements <span id="filtered_count" class="badge text-bg-secondary"></span>
            </button>
        </div>

        </span>

        </div>


        <div id="rss-table"
             hx-get="{% url 'get_rss_table_data' %}"
             hx-trigger="load"
             hx-include="[name='priority'], [name='reverse'], [name='textfilter']">
        </div>

        <!-- Toast template -->
        <div data-toast-container class="toast-container position-fixed top-0 end-0 p-3">
            <div data-toast-template class="toast align-items-center border-0" role="alert" aria-live="assertive"
                 aria-atomic="true">
                <div class="d-flex">
                    <div data-toast-body class="toast-body"></div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                            aria-label="Close"></button>
                </div>
            </div>
        </div>
        <!-- end Toast template -->

    </div>

    <!-- Download Modal template -->
    <div id="modal-kinozal" class="modal modal-blur" style="display: none" aria-hidden="false" tabindex="-1">
        <div id="kinozal-results" class="modal-dialog modal-xl modal-dialog-centered" hx-target="this">
            {# there is modal for edit Details #}
        </div>
    </div>
    <!-- End Download Modal template -->

    <script>
        ;(function () {
          const modal = new bootstrap.Modal(document.getElementById("modal-kinozal"))  // ЭТО ID ВНЕШНЕГО DIV ИЗ 'ЗАГЛУШКИ'

          htmx.on("htmx:afterSwap", (e) => {
            // Response targeting #dialog => show the modal
            if (e.detail.target.id === "kinozal-results") {  // ЭТО ID ТАРГЕТА ИЗ hx-target
              modal.show()
            }
          })

          htmx.on("htmx:beforeSwap", (e) => {
            // Empty response targeting #dialog => hide the modal
            if (e.detail.target.id === "kinozal-results" && !e.detail.xhr.response) {   // ЭТО ID ТАРГЕТА ИЗ hx-target
              modal.hide()
              e.detail.shouldSwap = false
            }
          })

          {% comment %}
          // Remove dialog content after hiding
          htmx.on("hidden.bs.modal", () => {
            document.getElementById("kinozal-results").innerHTML = ""
          })
          {% endcomment %}
        })()



        // Флаг для отслеживания загрузки
        let isLoading = false;


       // Получение ID видимых фильмов
        function getVisibleMovieIds() {
            console.log('Run getVisibleMovieIds...')
            let answer = Array.from(document.querySelectorAll('#loop tr'))
                .map(row => row.getAttribute('data-movie-id'))
                .filter(id => id);
            console.log('-->Movies on page:', answer)
            return answer
        }

        document.body.addEventListener('click', function (event) {
            const element = event.target;

            // Обработчик для кнопок "copy to clipboard"
            // Делегируем события клика для всех элементов с классом copy-btn
            if (element.classList.contains('copy-btn')) {
                const text = element.getAttribute('data-text');

                if (navigator.clipboard && navigator.clipboard.writeText) {
                    // Копируем текст с использованием Clipboard API
                    navigator.clipboard.writeText(text)
                        .then(() => {
                            console.log('Text copied to clipboard with Clipboard API:', text);
                            showPopup(element);
                        })
                        .catch(error => {
                            console.error('Error copying text with Clipboard API:', error);
                        });
                } else {
                    console.warn('navigator.clipboard.writeText is not supported or accessible.');
                    // Альтернативный метод копирования текста
                    const textarea = document.createElement('textarea');
                    textarea.value = text;
                    document.body.appendChild(textarea);
                    textarea.select();
                    try {
                        document.execCommand('copy');
                        console.log('Text copied to clipboard (alternate):', text);
                        showPopup(element);
                    } catch (error) {
                        console.error('Error copying text (alternate):', error);
                    }
                    document.body.removeChild(textarea);
                }
            }

        });

        // popup "Copied!" (для copy to clipboard)
        function showPopup(element) {
            const popup = document.getElementById('popup');
            const rect = element.getBoundingClientRect();

            // Позиционируем popup
            popup.style.top = (rect.top + window.scrollY - 30) + 'px';
            popup.style.left = (rect.left + window.scrollX + (rect.width / 2)) + 'px';
            popup.style.transform = 'translateX(-50%)';

            // Показываем и скрываем
            popup.classList.add('show');
            setTimeout(() => {
                popup.classList.remove('show');
            }, 1000);
        }

        // Анимация удаления строки. ПОСЛЕ того, как сервер вернет ответ, плавно скрывает строку (стиль fade-out) и
        // затем ее удаляем. В самой кнопке htmx удаление hx-swap="delete swap:0.3s" не нужно.
        document.body.addEventListener('htmx:beforeSwap', function (event) {
           // Проверяем, что это delete swap (то есть удаление строки)
           const elt = event.target;

           if (event.detail.xhr.status === 200 && event.detail.shouldSwap && elt.matches('tr')) {
               // Отменяем немедленное удаление
               event.detail.shouldSwap = false; // Это означает: «HTMX, не удаляй элемент сам — я сам этим займусь».

               // Добавляем fade-out
               elt.classList.add('fade-out');

               // Ждем окончания анимации (0.6s), затем удаляем строку из таблицы вручную
               setTimeout(() => {
                   elt.remove();
                   // Запускаем событие для проверки, какая строка стала верхней. В ней отобразим кол-во доступных торрентов.
                   checkAndTriggerTopRow();
               }, 600); // должно совпадать с CSS transition
           }
       });



        // Этот скрипт нужен для того, чтобы когда таблица обновляется, в первой строке
        // инициировался запрос на получение количества скачиваний для этого фильма.
            /**
             * Эта функция находит первую строку в таблице и, если для нее еще не был загружен
             * счетчик торрентов, инициирует htmx-запрос.
             */
            function checkAndTriggerTopRow() {
                const firstRow = document.querySelector("#loop tr:first-child");

                // Если таблицы или строк нет, выходим
                if (!firstRow) {
                    return;
                }

                const downloadCountSpan = firstRow.querySelector(".download-count");

                // Проверяем, что у спана есть атрибут data-count-loaded="false"
                if (downloadCountSpan && downloadCountSpan.dataset.countLoaded === 'false') {
                    // Немедленно меняем флаг, чтобы избежать повторных запросов
                    downloadCountSpan.dataset.countLoaded = 'true';

                    // Запускаем htmx-запрос
                    htmx.trigger(downloadCountSpan, 'load-count');
                }
            }

            // Слушаем событие htmx:afterSettle. Оно происходит после ЛЮБОГО htmx-запроса,
            // когда DOM уже гарантированно обновлен. Это ловит и загрузку, и удаление.
            document.body.addEventListener('htmx:afterSettle', function(evt) {
                checkAndTriggerTopRow();
            });


    </script>


{% endblock %}

{% block css %}
    <style>
        .htmx-indicator {
            display: none
        }

        .htmx-request .htmx-indicator {
            display: inline-block;
        }

        .htmx-request.htmx-indicator {
            display: inline-block;
        }

        hr {
        {#margin: 0.6rem;#} margin: 0;
            padding-top: 0.1rem;
            padding-bottom: 0.5rem;
        }

        .fade-me-out.htmx-swapping {
            opacity: 0;
            transition: opacity 0.6s ease-out;
        }

        .imgdiv {
            width: 142px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        img.imgdiv {
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }

        .common-header {
            font-size: small;
            color: #7e7d7d;
            {#text-decoration: underline;#}
        }


        /* НАЧАЛО БЛОКА ДЛЯ ПОДГРУЖАЕМОГО ФРАГМЕНТА RSS-TABLE.HTML */

        .copied-popup {
            position: absolute;
            top: -30px; /* Подстройте под ваши нужды */
            left: 50%;
            transform: translateX(-50%);
            background: #ffffff;
            color: #333;
            border: 1px solid #555;
            padding: 4px 6px;
            border-radius: 3px;
            font-size: 12px;
            opacity: 0;
            transition: opacity 0.2s;
            pointer-events: none; /* Чтобы не мешало кликам */
            z-index: 1000;
        }

        .copied-popup.show {
            opacity: 1;
        }

        #sentinel {
            height: 1px;
            margin: 0;
            opacity: 0;
        }

        #loop {
                min-height: 100px;
            }

        .fade-out {
                opacity: 0;
                transition: opacity 0.6s ease-out;
        }

        .copy-btn {
            cursor: pointer;
            color: gray;
            font-size: 0.5em;
        }
        /* КОНЕЦ БЛОКА ДЛЯ ПОДГРУЖАЕМОГО ФРАГМЕНТА RSS-TABLE.HTML */

        /* Этот блок добавляет слово Downloads к счетчику загрузок в верхнем фильме */
        .download-count:not(:empty)::before {
            content: "DOWNLOADS: ";
        }

    </style>
{% endblock %}
