{% extends "base.html" %}

{% block body %}

    <div class="container-fluid">

        <button id="scan-button"
                class='btn btn-primary'
                hx-get="{% url 'scan' %}"
                hx-swap="none"
                hx-trigger="click"
                {% comment %}        hx-on="htmx:afterRequest:
                        if (event.detail.xhr.getResponseHeader('X-Task-ID')) {
                          window.currentTaskId =
                            event.detail.xhr.getResponseHeader('X-Task-ID');
                        }"{% endcomment %}
        >
            <span id="save-icon" class="bi-database"></span>
            SCAN
            <span id="spinner" class="htmx-indicator spinner-border spinner-border-sm" role="status"></span>
        </button>

        <button id="cancel-button"
                class="btn btn-danger ms-2  d-none"
                hx-post=""
                hx-trigger="click"
                {% comment %} hx-on="click:
                        if (window.currentTaskId) {
                          this.setAttribute(
                            'hx-post',
                            `/cancel/${window.currentTaskId}`
                          );
                        }"{% endcomment %}
                hx-swap="none"
        >
            Cancel scan
        </button>

        <button class='btn btn-primary'
                hx-get="{% url 'web-logger:clear_log' %}"
                hx-include="[name='inlineRadioOptions']:checked"
                hx-swap="innerHTML"
                hx-target="#log-content">
            <span id="clear-icon" class="bi-x-lg"></span>
            Clear
            <span id="spinner" class="htmx-indicator spinner-border spinner-border-sm" role="status"></span>
        </button>


        <script>
            // ===  ЛОГИКА УПРАВЛЕНИЯ КНОПКАМИ SCAN/CANCEL===
            const scanButton = document.getElementById('scan-button');
            const cancelButton = document.getElementById('cancel-button');
            let currentTaskId = null;

            // Событие ПЕРЕД отправкой запроса на сканирование
            scanButton.addEventListener('htmx:beforeRequest', function () {
                // Блокируем кнопку, чтобы избежать двойного клика
                scanButton.disabled = true;
            });

            // Событие ПОСЛЕ получения ответа от сервера сканирования
            scanButton.addEventListener('htmx:afterRequest', function (event) {
                // Снова делаем кнопку активной
                scanButton.disabled = false;

                if (event.detail.successful) {
                    const taskId = event.detail.xhr.getResponseHeader('X-Task-ID');
                    if (taskId) {
                        currentTaskId = taskId;
                        // Устанавливаем URL для кнопки отмены
                        cancelButton.setAttribute('hx-post', `/cancel/${currentTaskId}`);
                        // Показываем кнопку отмены
                        cancelButton.classList.remove('d-none');
                    }
                }
            });

            // Событие ПОСЛЕ успешной отмены
            cancelButton.addEventListener('htmx:afterOnLoad', function () {
                // Скрываем кнопку отмены
                cancelButton.classList.add('d-none');
                // Очищаем hx-post на всякий случай
                cancelButton.removeAttribute('hx-post');
                currentTaskId = null;
            });

        </script>


        <div class="border my-4 p-3 rounded" style="background: lightgray">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="r-scan" value="scan" checked
                       hx-get="{% url 'web-logger:get_log' 'scan' %}"
                       hx-trigger="change"
                       hx-target="#log-content"
                        {#                   hx-include="this"#}
                       hx-swap="innerHTML"
                >
                <label class="form-check-label" for="r-scan"><strong>Scan</strong></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="r-debug" value="debug"
                       hx-get="{% url 'web-logger:get_log' 'debug' %}"
                       hx-trigger="change"
                       hx-target="#log-content"
                        {#                   hx-include="this"#}
                       hx-swap="innerHTML"
                >
                <label class="form-check-label" for="r-debug"><strong>Debug</strong></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="r-error" value="error"
                       hx-get="{% url 'web-logger:get_log' 'error' %}"
                       hx-trigger="change"
                       hx-target="#log-content"
                        {#                   hx-include="this"#}
                       hx-swap="innerHTML"
                >
                <label class="form-check-label" for="r-error"><strong>Error</strong></label>
            </div>
        </div>


        <div id="log-content"></div>

        <script>

            function showToast(message, status = 'success') {
                const toastContainer = document.querySelector('[data-toast-container]');
                const toastTemplate = document.querySelector('[data-toast-template]');
                const newToast = toastTemplate.cloneNode(true);
                delete newToast.dataset.toastTemplate;
                const toastBody = newToast.querySelector('[data-toast-body]');

                toastBody.textContent = message;

                if (status === 'success') {
                    newToast.classList.add('text-bg-success');
                } else {
                    newToast.classList.add('text-bg-danger');
                }

                toastContainer.appendChild(newToast);
                const toast = new bootstrap.Toast(newToast);
                toast.show();
            }


            const socket = new WebSocket('ws://' + window.location.host + '/ws/log/');
            const logContent = document.getElementById('log-content');
            const radioButtons = document.querySelectorAll('input[name="inlineRadioOptions"]');

            socket.onmessage = function (event) {
                const data = JSON.parse(event.data);

                if (data.type === 'scan_complete') {
                    showToast(data.message, data.status);
                    // Также скрываем кнопку "Отмена" после завершения
                    document.getElementById('cancel-button').classList.add('d-none');
                } else if (data.type === 'log') {

                    const newLogEntry = document.createElement('div');
                    newLogEntry.innerHTML = data.content;
                }


                {% comment %}console.log('Socket message:', newLogEntry);{% endcomment %}

                // Check which radio button is selected and filter messages
                if (document.getElementById('r-debug').checked && data.content.startsWith('DEBUG')) {
                    logContent.appendChild(newLogEntry);
                } else if (document.getElementById('r-scan').checked && data.content.startsWith('INFO')) {
                    newLogEntry.innerHTML = newLogEntry.innerHTML.replace("INFO:", "").trim();
                    logContent.appendChild(newLogEntry);
                } else if (document.getElementById('r-error').checked && data.content.startsWith('ERROR')) {
                    logContent.appendChild(newLogEntry);
                }

                logContent.scrollTop = logContent.scrollHeight;

            }

            // initial load
            htmx.ajax('GET', '{% url "web-logger:get_log" "scan" %}', '#log-content');
        </script>


        <!-- Toast template -->
        <div data-toast-container class="toast-container position-fixed top-0 end-0 p-3">
            <div data-toast-template class="toast align-items-center border-0" role="alert" aria-live="assertive"
                 aria-atomic="true">
                <div class="d-flex">
                    <div data-toast-body class="toast-body"></div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                            aria-label="Close"></button>
                </div>
            </div>
        </div>
        <!-- end Toast template -->


    </div>

{% endblock %}

{% block css %}
    <style>
        #log-content {
            height: 600px;
            border: 1px solid black;
            overflow-y: scroll;
            white-space: pre-wrap; /* Key fix: Preserve line breaks */
        {#font-size: medium;#} font-family: monospace; /* Optional: Use a monospace font for logs */
        }
    </style>
{% endblock %}
